<head>
    @{
        ViewBag.Title = "React";
    }




    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>




</head>



<h2>React</h2>
<p>Tänne React hommat  tulevaisuudessa</p>


