@{
    ViewBag.Title = "Tietoja minusta";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Dotabuff <a href="http://www.dotabuff.com/players/66228949">Dotabuff</a></strong><br />
    <strong>Twitter <a href="https://twitter.com/Simojuusto">Twitter</a></strong>
    <p>@DateTime.Now</p>
</address>
